#root {
	-fx-background-color: #232227;
	-fx-text-fill: #B7B7BB;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.button {
	-fx-font-size: 0.7em;
	-fx-text-fill: #000000;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.button:focused {
}


.radio-button {
	-fx-font-size: 0.7em;
	-fx-text-fill: #B7B7BB;
}

.check-box {
	-fx-font-size: 0.7em;
	-fx-text-fill: #B7B7BB;
}

.text-field {
	-fx-font-size: 0.7em;
	-fx-text-fill: #000000;
}

.label {
	-fx-font-size: 0.7em;
	-fx-text-fill: #B7B7BB;
}

.slider {
	-fx-font-size: 0.7em;
	-fx-major-tick-unit: 5;
	-fx-minor-tick-count: 1;
	-fx-text-fill: #B7B7BB;
}